---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import FooterAnimated from "../components/FooterAnimated";
import HeroVideo from "../components/HeroVideo.astro";
import ContactSection from "../components/ContactSection.astro";
import PropertyOverviewAnimated from "../components/PropertyOverviewAnimated";
import PhotoGallery from "../components/PhotoGallery";
import { property, getPrimaryContact } from "../data/property";

const primaryContact = getPrimaryContact();
---

<BaseLayout>
  <Header transparent />

  <main>
    <HeroVideo />
    <PropertyOverviewAnimated
      client:load
      description={property.description}
      fullDescription={property.fullDescription}
      specs={property.specs}
      amenities={property.amenities}
    />
    <PhotoGallery client:load images={property.images.gallery} />
    <ContactSection />
  </main>

  <FooterAnimated
    client:visible
    propertyName={property.name}
    shortDescription={property.shortDescription}
    location={property.location}
    companyName={property.company.name}
    identifier={property.identifier}
    primaryContact={primaryContact}
  />
</BaseLayout>
